.testimonial {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 500px;
    padding: .75rem;
    margin: 1rem auto;
    background: #efefef;
    color: #000000;
}

#testimonials {
    height: 40vh;
    max-height: 40rem;
    min-height: 20rem;
    padding: 2rem;
    h3 {
        text-align: center;
        color: #000000;
    }
}